{% extends "views/base.html" %}
{% load staticfiles %}
{% load admin_urls %}
{% load humanize %}
{% load i18n %}

{% block content %}
  <style>
    @media screen {
      .signature_line {
        display: none;
      }
    }

    @media print {
      .noprint {
        display: none;
      }

      .signature_line {
        float: left;
        margin: 20px 10px;
        border-top: 1px solid #000;
        width: 280px;
        text-align: center;
      }
    }
  </style>

  <div class="container">
    <div class="row noprint">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
        <h3><a class="btn btn-default" href="{% url athlete|admin_urlname:'change' athlete.pk %}" role="button">Edit athlete</a></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <h3>{% trans "Athlete Personal Information" %}</h3>
      </div>
      <div class="col-sm-4">
        <h3>
          <!--
          Disabling Download PDF button. The feature is not working well.
          Workaround: use print to PDF feature of your browser.

          <form method="post" action="print/">
            {% csrf_token %}
            <button class="btn btn-default" type="submit">{% trans "Get PDF" %}</button>
          </form>
          -->
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-push-8">
        {% if athlete.photo %}
          <img src="{{ athlete.photo.url }}" alt="{{ athlete.first_name }} {{ athlete.last_name }}" height="265" width="206">
        {% else %}
          <img src="{% static "images/no-profile-image.png" %}" alt="{{ athlete.first_name }} {{ athlete.last_name }}" height="265" width="206">
        {% endif %}
      </div>
      <div class="col-sm-8 col-sm-pull-4">
        <div class="row">
          <div class="col-sm-4"><strong>{% trans "Name" %}:</strong></div>
          <div class="col-sm-8">{{ athlete }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4"><strong>{% trans "ID" %}:</strong></div>
          <div class="col-sm-8">{{ athlete.id }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4"><strong>{% trans "Address" %}:</strong></div>
          <div class="col-sm-8">
            {{ athlete.street }}<br>
            {{ athlete.city }}, {{ athlete.province }}<br>
            {{ athlete.country }}<br>
            {{ athlete.postal_code }}
<!-- <address>
  <strong>Twitter, Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address> -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"><strong>{% trans "Age on September 1st" %}:</strong></div>
          <div class="col-sm-8">{{ athlete.birthday }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4"><strong>{% trans "Phone number" %}:</strong></div>
          <div class="col-sm-8">{{ athlete.phone_number }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4"><strong>{% trans "Email addresses" %}:</strong></div>
          <div class="col-sm-8">
            {% for address in athlete.email_addresses %}
              <a href="mailto:{{ address }}">{{ address }}</a><br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Fiche de santé</h3>
      </div>
    </div>
    <div class="row">
      <div id="id_cards" class="col-sm-4 col-sm-push-8">
        {% if athlete.health_insurance_card_photo %}
          <img src="{{ athlete.health_insurance_card_photo.url }}" alt="{{ athlete.first_name }} {{ athlete.last_name }}" height="154" width="244">
        {% endif %}
        {% if athlete.secondary_id_card %}
          <img src="{{ athlete.secondary_id_card.url }}" alt="{{ athlete.first_name }} {{ athlete.last_name }}" height="154" width="244">
        {% endif %}
      </div>
      <div class="col-sm-8 col-sm-pull-4">
        <div class="row">
          <div class="col-sm-4"><strong>Numéro d'assurance maladie:</strong></div>
          <div class="col-sm-8">{{ athlete.health_insurance_number }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4"><strong>Date d'expiration:</strong></div>
          <div class="col-sm-8">{{ athlete.health_insurance_expiration_date }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4"><strong>Problèmes de santé:</strong></div>
          <div class="col-sm-8">{{ athlete.health_problems }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4"><strong>Allergies:</strong></div>
          <div class="col-sm-8">{{ athlete.allergies }}</div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>

    {% if fees %}
      <div class="row">
        <div class="col-sm-12">
          <h3>Coûts</h3>
          <table>
            {% for fee in fees %}
              <tr><td>{{ fee.name }}</td><td style="padding-left: 2em; text-align: right;">{{ fee.amount|floatformat:2 }}$</td></tr>
              {% for credit in athlete.credit.all %}
                <tr><td style="padding-left: 1em;">{{ credit.name }}</td><td style="padding-left: 2em; text-align: right;">-{{ credit.amount|floatformat:2 }}$</td></tr>
              {% endfor %}
            {% endfor %}
            <tr style="border-top: 1px solid #ddd; font-weight: bold;"><td>Total</td><td style="padding-left: 2em;">{{ total|floatformat:2 }}$</td></tr>
          </table>
        </div>
      </div>
    {% endif %}

    {% if depot or terms_of_payment %}
      <div class="row">
        <div class="col-sm-12">
          <h3>Modalités de paiement</h3>
          <table>
            {% if depot %}
              <tr><td>{% trans "Depot" %}:</td><td style="padding-left: 2em; text-align: right;">{{ depot|floatformat:2 }}$</td></tr>
            {% endif %}

            {% for term_of_payment in terms_of_payment %}
              <tr><td>{{ term_of_payment.0 }}{{ term_of_payment.1 }}:</td><td style="padding-left: 2em; text-align: right;">{{ term_of_payment.2|floatformat:2 }}$</td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-12">
        <div style="margin-top: 70px;">
          <span class ="signature_line">
            Signature de l'athlète majeur ou du parent<br>
            <small><i>*Ceci fait partie intégrante du Contrat de l'Athlète.</i></small>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
